body{
	background-color: #afa;
}
h1{
	color: #241611;
	background-color: #ff8f5f;
	text-align: center;
}
h2{
	background-color: yellow;
	padding-left: 50%;
}
img{
	border-radius: 70%;
}
a{
	color: crimson;
}
